@model List<期末專案0924.ViewModels.CHotelInformationViewModel>

@{
    ViewBag.Title = "List";
}

<h2>旅館一覽表</h2>
@{ using (Html.BeginForm())
    {
        if ((int)Session["identity"] == 3)
        {
            <p>
                關鍵字
                <input type="text" name="txtKeyword" />
                <input type="submit" value="查詢" />
            </p>
        }
    }
}
<p>
    @Html.ActionLink("新增旅館", "Create", "", new { @class = "btn btn-outline-primary" })
</p>
<table class="table">
    <tr>
        <th>
            序
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cFirmTaxID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cHotelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cHotelNameEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cHotelCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cHotelAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cHotelCreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cHotelPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cHotelType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cHotelBarrierfree)
        </th>
        <th></th>
    </tr>
    @{
        int count = 0;
        foreach (var item in Model)
        {
            count++;
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cFirmTaxID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cHotelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cHotelNameEN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cHotelCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cHotelAdress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cHotelCreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cHotelPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cHotelType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cHotelBarrierfree)
                </td>
                <td>
                    @Html.ActionLink("修改", "Edit", new { id = item.cHotelSN }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("刪除", "Delete", "HotelInformation", new { id = item.cHotelSN }, new { onclick = "return confirm('確定要刪除嗎?')", Class = "btn btn-danger" }) |
                    @Html.ActionLink("飯店房型管理", "List", "HotelRoomType", new { id = item.cHotelSN, FirmSN = item.cFirmSN }, new { @class = "btn btn-outline-primary" }) |
                    @Html.ActionLink("新增廣告", "ADUpload", "AD", new { hotelSN = (int)item.cHotelSN }, new { @class = "btn btn-outline-primary" })
                </td>
            </tr>
        }
    }


</table>
