@model 期末專案0924.Models.cUserOrder
@{
    ViewBag.Title = "Edit";
}

<h2>修改訂單資料</h2>
<form method="post">
    <input type="hidden" name="cOrderSN" value="@Model.cOrderSN" />
    <p>
        旅客訂單編號 <br />
        <input type="text" name="cOrderID" value="@Model.cOrderID" />
    </p>
    <p>
        旅客編號 <br />
        <input type="text" name="cGuestSN" value="@Model.cGuestSN" />
    </p>
    <p>
        訂購日期 <br />
        <input type="text" name="cOrderDate" value="@Model.cOrderDate" />
    </p>
    <p>
        入住日期時間 <br />
        <input type="text" name="cCheckInDate" value="@Model.cCheckInDate" />
    </p>
    <p>
        退房日期時間<br />
        <input type="text" name="cCheckOutDate" value="@Model.cCheckOutDate" />
    </p>
    <p>
        飯店房型編號<br />
        <input type="text" name="cHotelRoomTypeSN" value="@Model.cHotelRoomTypeSN" />
    </p>
    <p>
        訂單備註<br />
        <input type="text" name="cOrderNotes" value="@Model.cOrderNotes" />
    </p>
    <p>
        訂單價格<br />
        <input type="text" name="cOrderPrice" value="@Model.cOrderPrice" />
    </p>
    <p>
        <input type="submit" value="送出" />
    </p>
</form>

