@using 期末專案0924.Models
@model List<cUserOrder>
@{
    ViewBag.Title = "List";
}

<h2>訂單資料一覽表</h2>

@using (Html.BeginForm())
{
    <p>
        關鍵字
        <input type="text" name="txtKeyword" />
        <input type="submit" value="查詢" />
    </p>
}
<a href="~/UserOrder/Create" class="btn btn-primary">新增訂單</a>
<p>
    <table class="table table-striped">
        <tr>
            <td>序</td>
            <td>旅客訂單編號</td>
            <td>旅客編號</td>
            <td>訂購日期</td>
            <td>入住日期時間</td>
            <td>退房日期時間</td>
            <td>訂單狀態</td>
            <td>飯店房型編號</td>
            <td>訂單備註</td>
            <td>訂單價格</td>
            <td>編輯</td>
            <td>刪除</td>
        </tr>
        @{
            int count = 0;
            foreach (cUserOrder c in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@c.cOrderID</td>
                    <td>@c.cGuestSN</td>
                    <td>@c.cOrderDate</td>
                    <td>@c.cCheckInDate</td>
                    <td>@c.cCheckOutDate</td>
                    <td>@c.cOrderStatus</td>
                    <td>@c.cHotelRoomTypeSN</td>
                    <td>@c.cOrderNotes</td>
                    <td>@c.cOrderPrice</td>
                    <td>
                        @Html.ActionLink("修改", "Edit", "UserOrder", new { id = c.cOrderSN }, new { @class = "btn btn-success" })
                    </td>
                    <td>
                        @Html.ActionLink("刪除", "Delete", "UserOrder", new { id = c.cOrderSN },
                   new
                        {
                            onclick = "return confirm('確定要刪除嗎?')",
                                Class = "btn btn-danger"
                        })
                    </td>
                </tr>
            }
        }
    </table>


</p>

