@model List<期末專案0924.ViewModels.CUserOrderViewModel>

@{
    ViewBag.Title = "List";
}

<h2>訂單一覽表</h2>
@using (Html.BeginForm())
{
    <p>
        關鍵字
        <input type="text" name="txtKeyword" />
        <input type="submit" value="查詢" />
    </p>
}
@*<p>
    @Html.ActionLink("新增訂單", "Create", "", new { @class = "btn btn-outline-primary" })
</p>*@
<table class="table">
    <tr>
        <th>
            序
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cGuestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cOrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cHotelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cHotelRoomTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cOrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cCheckInDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cCheckOutDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cStayDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cOrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cOrderNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cOrderPrice)
        </th>
        <th></th>
    </tr>
    @{
        int Count = 0;
        foreach (var item in Model)
        {
            Count++;
        <tr>
            <td>
                @Count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cGuestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cOrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cHotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cHotelRoomTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cOrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cCheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cCheckOutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cStayDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cOrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cOrderNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cOrderPrice)
            </td>
            <td>
                @{
                    if ((int)Session["identity"] != 1)
                    {
                    <td>
                        @Html.ActionLink("修改", "Edit", new { id = item.cOrderSN }, new { @class = "btn btn-success" }) |
                        @Html.ActionLink("刪除", "Delete", "UserOrder", new { id = item.cOrderSN }, new { onclick = "return confirm('確定要刪除嗎?')", Class = "btn btn-danger" })|
                        @Html.ActionLink("變更訂單狀態", "OrderChangeStatus", new { id = item.cOrderSN }, new { onclick = "return confirm('確定要變更訂單狀態嗎?')", Class = "btn btn-outline-primary" })
                    </td>
                }

                }

                </td>
            </tr>
            }
    }


</table>
