@model 期末專案0924.ViewModels.CHotelRoomTypeViewModel

@{
    ViewBag.Title = "Create";
}

<h2>新增房型</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>填寫房型資料</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.cHotelRoomTypeName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cHotelRoomTypeName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cHotelRoomTypeName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cHotelRoomCount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cHotelRoomCount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cHotelRoomCount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cHotelRoomContain, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cHotelRoomContain, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cHotelRoomContain, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cHotelRoomContainAldults, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cHotelRoomContainAldults, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cHotelRoomContainAldults, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cHotelRoomContainChiidren, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cHotelRoomContainChiidren, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cHotelRoomContainChiidren, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cHotelRoomTypePriceOfWeekdays, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cHotelRoomTypePriceOfWeekdays, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cHotelRoomTypePriceOfWeekdays, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.cHotelRoomTypePriceOfHoliday, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cHotelRoomTypePriceOfHoliday, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cHotelRoomTypePriceOfHoliday, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cHotelRoomTypePriceOfFestival, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cHotelRoomTypePriceOfFestival, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cHotelRoomTypePriceOfFestival, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="送出" class="btn btn-default" />
                <input type="button" name="back" value="回上一頁" class="btn btn-danger" onclick="javascript: history.back()" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
