@model List<期末專案0924.ViewModels.CHotelRoomTypeViewModel>

@{
    ViewBag.Title = "List";
}

<h2>房型一覽表</h2>
@using (Html.BeginForm())
{
    <p>
        關鍵字
        <input type="text" name="txtKeyword" />
        <input type="submit" value="查詢" />
    </p>
}
<p>
    @Html.ActionLink("新增房型", "Create", new { id = Model[0].cHotelSN, FirmSN = Model[0].cFirmSN }, new { @class = "btn btn-outline-primary" })
    @Html.ActionLink("返回飯店列表", "List", "HotelInformation",new { id = Model[0].cFirmSN }, new { @class = "btn btn-outline-primary" })
</p>

<table class="table">
    <tr>
        <th>
            序
        </th>
        <th>
            照片
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cHotelRoomTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cHotelRoomCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cHotelRoomContain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cHotelRoomContainAldults)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cHotelRoomContainChiidren)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cHotelRoomTypePriceOfWeekdays)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model[0].cHotelRoomTypePriceOfHoliday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cHotelRoomTypePriceOfFestival)
        </th>*@
        <th></th>
    </tr>
    @{
        int count = 0;
        foreach (var item in Model)
        {
            count++;
        <tr>
            <td>
                @count
            </td>
            <td>
                <img id="hotelImg" src="~/img/HotelImage/RoomImage/@item.cHotelRoomTypePhoto">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cHotelRoomTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cHotelRoomCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cHotelRoomContain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cHotelRoomContainAldults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cHotelRoomContainChiidren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cHotelRoomTypePriceOfWeekdays)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.cHotelRoomTypePriceOfHoliday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cHotelRoomTypePriceOfFestival)
        </td>*@
            <td>
                @Html.ActionLink("修改", "Edit", new { id = item.cHotelRoomTypeSN }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("刪除", "Delete", new { id = item.cHotelRoomTypeSN }, new { onclick = "return confirm('確定要刪除嗎?')", Class = "btn btn-danger" }) |
                @Html.ActionLink("新增房型訂單系統", "List", "HotelOrderSystem", new { id = item.cHotelRoomTypeSN, HotelId = item.cHotelSN }, new { @class = "btn btn-outline-primary" })
            </td>
        </tr>
        }
    }


</table>
