@model 期末專案0924.ViewModels.PaymentModel

@{
    ViewBag.Title = "CreditCard";
}

<!DOCTYPE html>

<html>
<head>
    <style>
        .card {
            height: 25px;
            width: 200px;
            display: inline;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.cGuestCreditCardName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cGuestCreditCardName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cGuestCreditCardName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.cGuestCreditCardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    
                        <input class="form-control card" maxlength="4" id="card1" />
                        <input class="form-control card" maxlength="4" id="card2" />
                        <input class="form-control card" maxlength="4" id="card3" />
                        <input class="form-control card" maxlength="4" id="card4" />
                        <input type="hidden" name="cGuestCreditCardNumber" id="card5" />
                        @*@Html.EditorFor(model => model.cGuestCreditCardNumber, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.cGuestCreditCardNumber, "", new { @class = "text-danger" })

                    </div>
                </div>
            <div class="form-group">
                @Html.LabelFor(model => model.cGuestCreditCardNameID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @ViewBag.Message
                    @*@Html.EditorFor(model => model.cGuestCreditCardNameID, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.cGuestCreditCardNameID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.cCreditCardType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cCreditCardType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cCreditCardType, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.cGuestCreditCardSecurityCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cGuestCreditCardSecurityCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cGuestCreditCardSecurityCode, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.cGuestCreditCardDeadlineYear, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cGuestCreditCardDeadlineYear, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cGuestCreditCardDeadlineYear, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.cGuestCreditCardDeadlineMonth, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cGuestCreditCardDeadlineMonth, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cGuestCreditCardDeadlineMonth, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="送出" class="btn btn-default" />
                </div>
            </div>

        </div>
    }
    </body>
</html>
<script>
    $("#cardClick").click(function () {
        var intcard1 = parseInt($("#card1").val());
        var intcard2 = parseInt($("#card2").val());
        var intcard3 = parseInt($("#card3").val());
        var intcard4 = parseInt($("#card4").val());
        if ($("#card1").val().length != 4 || isNaN(intcard1)) {
            alert("信用卡卡號為16碼或輸入數字!!");
            return false;
        }
        if ($("#card2").val().length != 4 || isNaN(intcard2)) {
            alert("信用卡卡號為16碼或輸入數字!!");
            return false;
        }
        if ($("#card3").val().length != 4 || isNaN(intcard3)) {
            alert("信用卡卡號為16碼或輸入數字!!");
            return false;
        }
        if ($("#card4").val().length != 4 || isNaN(intcard4)) {
            alert("信用卡卡號為16碼或輸入數字!!");
            return false;
        };
        $("#cardForm").submit();
    });
</script>