@model List<期末專案0924.ViewModels.GuestModel>
@{
    ViewBag.Title = "GuestList";
}





<h2>旅客帳號資料</h2>
@using (Html.BeginForm())
{
    <p>
        關鍵字
        <input type="text" name="txtKeyword" />
        <input type="submit" value="查詢" />
    </p>
}
<p>
</p>
<table class="table">
    <tr>
        <th>
            序
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cGuestSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cGuestLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cGuestFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cGuestLastNameEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cGuestFirstNameEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cGuestBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cGuestEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cGuestPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].cGuestID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model[0].cGuestCitizenship)
        </th>
        <th></th>
    </tr>
    @{
        int count = 0;
        foreach (var item in Model)
        {
            count++;
        <tr>
            <td>
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cGuestSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cGuestLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cGuestFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cGuestLastNameEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cGuestFirstNameEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cGuestBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cGuestEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cGuestPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cGuestID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cGuestCitizenship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cGuestGender)
            </td>
            <td>
                @Html.ActionLink("修改", "GuestEdit", new { id = item.cGuestID }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("刪除", "GuestDelete", new { id = item.cGuestID }, new { onclick = "return confirm('確定要刪除嗎?')", Class = "btn btn-danger" }) |

            </td>
        </tr>
        }
    }


</table>


